@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format("truetype");
        font-weight: 100 1000;
        font-display: swap;
    }
    @font-face {
        font-family: "Sorts_Mill_Goudy";
        src: url('/fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf') format("truetype");
        font-weight: 100 1000;
        font-display: swap;
    }
    @font-face {
        font-family: "Outfit";
        src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf') format("truetype");
        font-weight: 100 1000;
        font-display: swap;
    }
    
    :root{
      /* --color-primary: 27 25 75; #1B194B  */
      --color-primary: 0 87 48; /* #005730 */ 
      /* --color-secondary: 52 55 230; #3437E6 */
      --color-secondary: 5 113 48; /* #00752F */
      --color-light1: 232 255 239; /* #F5F5FE */
      --color-border1: rgba(0, 87, 48, 0.3);
    }
}
