@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format("truetype");
        font-weight: 100 1000;
        font-display: swap;
    }
    @font-face {
        font-family: "Sorts_Mill_Goudy";
        src: url('/fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf') format("truetype");
        font-weight: 100 1000;
        font-display: swap;
    }
    @font-face {
        font-family: "Outfit";
        src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf') format("truetype");
        font-weight: 100 1000;
        font-display: swap;
    }
    
    :root{
      --color-primary: 27 25 75; /* #1B194B */
      --color-secondary: 52 55 230; /* #3437E6 */
      --color-light1: 243 243 246; /* #F3F3F6 */
      --color-border1: rgb(22, 6, 74, .3);
    }
}
